.trains-leg
	h3 LEG 1
	.trains-leg__field
		input.input-nobg(type="text" value="Khabarovsk, Russia")
		+arrowRight()
	.trains-leg__field
		input.input-nobg(type="text" value="Moscow, Russia")
	.trains-leg__field
		input.input-nobg(type="text" value="15 Juli, 2017")
		.icon--calendar
	.trains-leg__field
		select.input-nobg
			option(value='...') 00:00
			option(value='...') 01:00
			option(value='...') 02:00
			option(value='...') 03:00
		| 				 – 
		select.input-nobg
			option(value='...') 24:00
			option(value='...') 00:00
			option(value='...') 01:00
			option(value='...') 02:00