.trains-leg
	h3 LEG 1
	.trains-leg__field
		input.input-nobg(type="text" value="Khabarovsk, Russia")
		+arrowRight()
	.trains-leg__field
		input.input-nobg(type="text" value="Moscow, Russia")
	.trains-leg__field
		input.input-nobg(type="text" value="15 Juli, 2017")
		.icon--calendar