extends ../_template

block variables
	- var title = 'Step 2 - Select'

block content

	include ../common/leg
	include ../common/filter

	table.select-table
		thead
			tr.select-table__head.select-table__head_dark
				td Train
				td Departure
				td arrival
				td Class
				td Tickets
				td
					span.icon--adult
					|  Adult
				td
					span.icon--child
					|  Child
				td
					span.icon--infant
					|  Infant
				td
		tbody.select-table__tbody_underline
			tr.select-row
				td
				td
					div 01:15
					div 22 Sept 2016
					div Saint Petesburg
					div Ladozhsky station
				td
					div 08:35
					div 24 Sept 2016
					div Moscow
					div Paveletsky station
				td
					.text-upper10 1st class (ЛЮКС)
					.icon--carriage
					span Carriage
					div
						.icon--s1
						.icon--s2
						.icon--s3
					div
						.icon--s1
					span.button_owner Тверск
				td
					ul.select-ul__tickets
						li
							span.tic-number 78
							|  bottom
						li
							span.tic-number 164
							|  top
						li
							span.tic-number 45
							|  side bottom
						li
							span.tic-number 84
							|  side top
				td
					ul.select-ul__price
						li £ 120.11
						li £ 120.11
						li £ 120.11
						li £ 120.11
				td
					| Price for child 
					br
					| 					ticket is not 
					br
					| 					available
				td
					ul.select-ul__price
						li £ 120.11
						li £ 120.11
						li £ 120.11
						li £ 120.11
				td
		tbody.select-table__tbody_underline
			tr.select-row
				td
				td
					div 01:15
					div 22 Sept 2016
					div Saint Petesburg
					div Ladozhsky station
				td
					div 08:35
					div 24 Sept 2016
					div Moscow
					div Paveletsky station
				td
					.text-upper10 1st class (ЛЮКС)
					.icon--no-map
					span Carriage
					div
						.icon--s1
						.icon--s2
						.icon--s3
					div
						.icon--s1
					span.button_owner Тверск
				td
					ul.select-ul__tickets
						li
							span.tic-number 78
							|  bottom
						li
							span.tic-number 164
							|  top
						li
							span.tic-number 45
							|  side bottom
						li
							span.tic-number 84
							|  side top
				td
					ul.select-ul__price
						li £ 120.11
						li £ 120.11
						li £ 120.11
						li £ 120.11
				td
					ul.select-ul__price
						li £ 120.11
						li £ 120.11
						li £ 120.11
						li £ 120.11
				td
					ul.select-ul__price
						li £ 120.11
						li £ 120.11
						li £ 120.11
						li £ 120.11
				td
		tbody.select-table__tbody_underline
			tr.select-row
				td
				td
					div 01:15
					div 22 Sept 2016
					div Saint Petesburg
					div Ladozhsky station
				td
					div 08:35
					div 24 Sept 2016
					div Moscow
					div Paveletsky station
				td
					.text-upper10 1st class (ЛЮКС)
					.icon--carriage
					span Carriage
					div
						.icon--s1
						.icon--s2
						.icon--s3
					div
						.icon--s1
					span.button_owner Тверск
				td
					ul.select-ul__tickets
						li
							span.tic-number 78
							|  bottom
						li
							span.tic-number 164
							|  top
						li
							span.tic-number 45
							|  side bottom
						li
							span.tic-number 84
							|  side top
				td
					ul.select-ul__price
						li £ 120.11
						li £ 120.11
						li £ 120.11
						li £ 120.11
				td
					ul.select-ul__price
						li £ 120.11
						li £ 120.11
						li £ 120.11
						li £ 120.11
				td
					ul.select-ul__price
						li £ 120.11
						li £ 120.11
						li £ 120.11
						li £ 120.11
				td
			tr.select-row
				td
				td
				td
				td
					.text-upper10 1st class (ЛЮКС)
					.icon--carriage
					span Carriage
					div
						.icon--s1
						.icon--s2
						.icon--s3
					div
						.icon--s1
					span.button_owner Тверск
				td
					ul.select-ul__tickets
						li
							span.tic-number 78
							|  bottom
						li
							span.tic-number 164
							|  top
						li
							span.tic-number 45
							|  side bottom
						li
							span.tic-number 84
							|  side top
				td
					ul.select-ul__price
						li £ 120.11
						li £ 120.11
						li £ 120.11
						li £ 120.11
				td
					ul.select-ul__price
						li £ 120.11
						li £ 120.11
						li £ 120.11
						li £ 120.11
				td
					ul.select-ul__price
						li £ 120.11
						li £ 120.11
						li £ 120.11
						li £ 120.11
				td
			tr.select-row
				td
				td
				td
				td
					.text-upper10 1st class (ЛЮКС)
					.icon--carriage
					span Carriage
					div
						.icon--s1
						.icon--s2
						.icon--s3
					div
						.icon--s1
					span.button_owner Тверск
				td
					ul.select-ul__tickets
						li
							span.tic-number 78
							|  bottom
						li
							span.tic-number 164
							|  top
						li
							span.tic-number 45
							|  side bottom
						li
							span.tic-number 84
							|  side top
				td
					ul.select-ul__price
						li £ 120.11
						li £ 120.11
						li £ 120.11
						li £ 120.11
				td
					ul.select-ul__price
						li £ 120.11
						li £ 120.11
						li £ 120.11
						li £ 120.11
				td
					ul.select-ul__price
						li £ 120.11
						li £ 120.11
						li £ 120.11
						li £ 120.11
				td
