extends ../_template

block variables
	- var title = 'Step 2 - Select'

block content

	include ../common/leg
	include ../common/filter

	.table-wrapper

		table.select-table
			thead
				tr.select-table__head.select-table__head_dark
					td Train
					td Departure
					td arrival
					td Class
					td Tickets
					td
						span.icon--adult.th-icon
						span.padding-l20 Adult
					td
						span.icon--child.th-icon
						span.padding-l20 Child
					td
						span.icon--infant.th-icon
						span.padding-l20 Infant
					td
			tbody.select-table__tbody_underline
				tr.select-row
					td
						.direction-name_bold.text-underl 748A
						.text_bold.text-upper Baltijskij E'kspress
						.text_gray Run time: 2d 12h 20m
						ul.train-type
							li.train-type__item.train-type_orange(data-type='Firm')
							li.train-type__item.train-type_orange(data-type='Fast')
							li.train-type__item.train-type_green(data-type='E-reg')
							li.train-type__item.train-type_blue(data-type='Wi-Fi')
						.text_gray Route:
					td
						time.direction-time 01:15
						div 22 Sept 2016
						div.text_gray Saint Petesburg
						div.text_gray Ladozhsky station
					td
						time.direction-time 08:35
						div 24 Sept 2016
						div.text_gray Moscow
						div.text_gray Paveletsky station
					td
						.text-upper10 1st class (ЛЮКС)
						.icon--carriage
						span.padding-l5 Carriage
						div
							.icon--s1
							.icon--s2
							.icon--s3
						span.button_owner Тверск
					td
						ul.select-ul__tickets
							li
								span.tic-number 78
								|  bottom
							li
								span.tic-number 164
								|  top
							li
								span.tic-number 45
								|  side bottom
							li
								span.tic-number 84
								|  side top
					td
						ul.select-ul__price
							li £ 120.11
							li £ 120.11
							li £ 120.11
							li £ 120.11
					td
						span.no-prices Price for child ticket is not available
					td
						ul.select-ul__price
							li £ 120.11
							li £ 120.11
							li £ 120.11
							li £ 120.11
					td

			tbody.select-table__tbody_underline
				tr.select-row
					td
						.direction-name_bold.text-underl 748A
						.text_bold.text-upper Baltijskij E'kspress
						.text_gray Run time: 2d 12h 20m
						ul.train-type
							li.train-type__item.train-type_orange(data-type='Firm')
							li.train-type__item.train-type_orange(data-type='Fast')
							li.train-type__item.train-type_green(data-type='E-reg')
							li.train-type__item.train-type_blue(data-type='Wi-Fi')
						.text_gray Route:
					td
						time.direction-time 01:15
						div 22 Sept 2016
						div.text_gray Saint Petesburg
						div.text_gray Ladozhsky station
					td
						time.direction-time 08:35
						div 24 Sept 2016
						div.text_gray Moscow
						div.text_gray Paveletsky station
					td
						.text-upper10 1st class (ЛЮКС)
						.icon--no-map
						span.padding-l5 Carriage
						div
							.icon--s1
							.icon--s2
							.icon--s3
						span.button_owner Тверск
					td
						ul.select-ul__tickets
							li
								span.tic-number 78
								|  bottom
							li
								span.tic-number 164
								|  top
							li
								span.tic-number 45
								|  side bottom
							li
								span.tic-number 84
								|  side top
					td
						ul.select-ul__price
							li £ 120.11
							li £ 120.11
							li £ 120.11
							li £ 120.11
					td
						ul.select-ul__price
							li £ 120.11
							li £ 120.11
							li £ 120.11
							li £ 120.11
					td
						ul.select-ul__price
							li £ 120.11
							li £ 120.11
							li £ 120.11
							li £ 120.11
					td

			tbody.select-table__tbody_underline
				tr.select-row
					td
						.direction-name_bold.text-underl 748A
						.text_bold.text-upper Baltijskij E'kspress
						.text_gray Run time: 2d 12h 20m
						ul.train-type
							li.train-type__item.train-type_orange(data-type='Firm')
							li.train-type__item.train-type_orange(data-type='Fast')
							li.train-type__item.train-type_green(data-type='E-reg')
							li.train-type__item.train-type_blue(data-type='Wi-Fi')
						.text_gray Route:
					td
						time.direction-time 01:15
						div 22 Sept 2016
						div.text_gray Saint Petesburg
						div.text_gray Ladozhsky station
					td
						time.direction-time 08:35
						div 24 Sept 2016
						div.text_gray Moscow
						div.text_gray Paveletsky station
					td
						.text-upper10 1st class (ЛЮКС)
						.icon--carriage
						span.padding-l5 Carriage
						div
							.icon--s1
							.icon--s2
							.icon--s3
						span.button_owner Тверск
					td
						ul.select-ul__tickets
							li
								span.tic-number 78
								|  bottom
							li
								span.tic-number 164
								|  top
							li
								span.tic-number 45
								|  side bottom
							li
								span.tic-number 84
								|  side top
					td
						ul.select-ul__price
							li £ 120.11
							li £ 120.11
							li £ 120.11
							li £ 120.11
					td
						ul.select-ul__price
							li £ 120.11
							li £ 120.11
							li £ 120.11
							li £ 120.11
					td
						ul.select-ul__price
							li £ 120.11
							li £ 120.11
							li £ 120.11
							li £ 120.11
					td
				tr.select-row
					td
					td
					td
					td
						.text-upper10 1st class (ЛЮКС)
						.icon--carriage
						span.padding-l5 Carriage
						div
							.icon--s1
							.icon--s2
							.icon--s3
						span.button_owner Тверск
					td
						ul.select-ul__tickets
							li
								span.tic-number 78
								|  bottom
							li
								span.tic-number 164
								|  top
							li
								span.tic-number 45
								|  side bottom
							li
								span.tic-number 84
								|  side top
					td
						ul.select-ul__price
							li £ 120.11
							li £ 120.11
							li £ 120.11
							li £ 120.11
					td
						ul.select-ul__price
							li £ 120.11
							li £ 120.11
							li £ 120.11
							li £ 120.11
					td
						ul.select-ul__price
							li £ 120.11
							li £ 120.11
							li £ 120.11
							li £ 120.11
					td
				tr.select-row
					td
					td
					td
					td
						.text-upper10 1st class (ЛЮКС)
						.icon--carriage
						span.padding-l5 Carriage
						div
							.icon--s1
							.icon--s2
							.icon--s3
						span.button_owner Тверск
					td
						ul.select-ul__tickets
							li
								span.tic-number 78
								|  bottom
							li
								span.tic-number 164
								|  top
							li
								span.tic-number 45
								|  side bottom
							li
								span.tic-number 84
								|  side top
					td
						ul.select-ul__price
							li £ 120.11
							li £ 120.11
							li £ 120.11
							li £ 120.11
					td
						ul.select-ul__price
							li £ 120.11
							li £ 120.11
							li £ 120.11
							li £ 120.11
					td
						ul.select-ul__price
							li £ 120.11
							li £ 120.11
							li £ 120.11
							li £ 120.11
					td
